<div id="header">
     		<img src="./../images/MaiaGroupHeader.jpg" width="100%" height="100%" alt=""/>
	</div>

<div class="column-wrap">
     {{#if create}}
     <h2 id="awardTitle" align="center">Create Award</h2>
     {{else}}
     <h2 id="awardTitle" align="center">Manage Awards</h2>
     {{/if}}
     <div>
	<section>
		<nav>
			<ul>
				{{#if create}}
				      <li><button id="toggleCreateManage" onclick="gotoAwards('manage')">Manage Award</button></li>
				{{else}}
				      <li><button id="toggleManageCreate" onclick="gotoAwards('create')">Create Award</button></li>
		    		{{/if}}
		    		<li><button id="accountButton" onclick="gotoAccount()">Account</button></li>
                    		<li><button id="logoutButton" onclick="logoutUser()">Logout</button></li>
                	</ul>
		</nav>

		<article id="awardsContainer">
			 <div style="height:500px;overflow:auto;">
		     	      {{#if create}}
			      {{#if error}}
			      	    <div>Error getting users - contact administrator</div>
			      {{else}}
			      {{#if someUsers}}
		     	      	   <form action="/awards" method="post">
		     	  	   	 <table>
		     	  	 	 	<thead>
							<th>Check</th>
								<th>Name</th>
								<th>Email</th>
								<th>Created on</th>
				 		</thead>
				 		{{#each users}}
				 	 		<tr>
								<td align="center"><input type="radio" name="employee" value={{user_id}} required></td>
								<td align="center">{{first_name}} {{last_name}}</td>
								<td align="center">{{email_address}}</td>
								<td align="center">{{created_timestamp}}</td>
                					 </tr>
						{{/each}}
					</table>
					<div>Award Type:
					<select class="typepicker" name="typepicker">
						<option value="week">week</option>
						<option value="month">month</option>
					</select>
					</div>
					<input type="submit" value="Submit">
					{{#if createError}}
	    <div>Error creating award</div>
	    {{/if}}
				  </form>
				  {{else}}
					<div>No other users to award - tell management to hire more people</div>
				  {{/if}}
				  {{/if}}
				{{else}}
				{{#if error}}
				<div>Error getting awards - contact administrator</div>
				{{else}}
				{{#if someAwards}}
					<table>
		     	    		       <thead>
							<th>Recipient</th>
							<th>Type</th>
							<th>Distributed</th>
							<th>Awarded</th>
			    			</thead>
			    			{{#each awards}}
                     	    			<tr>
						<td align="center">{{recipient_name}}</td>
						<td align="center">{{type}}</td>
						<td align="center">{{distributed}}</td>
						<td align="center">{{awarded_datetime}}</td>
						<td><button onclick="deleteAwards({{award_id}})">Delete</button></td>
                				</tr>
						{{/each}}
						</table>
				{{else}}
					<div>No awards have been issued by you - create some awards</div>
				{{/if}}
						{{/if}}
						{{/if}}
		</div>
            </article>
        </section>
    </div>
</div>