<div id="header">
    <img src="images/MaiaGroupHeader.jpg" width="100%" height="100%" alt=""/>
</div>

<div class="column-wrap">
    <h2 align="center">User Profile</h2>
    <div>
        <section>
            <nav>
                <ul>
                    {{#if isView}}
                    <li><button id="awardsButton" onclick="gotoAwards('manage')">Manage Awards</button></li>
                    <li><button id="userUpdateButton" onclick="updateUser()">Save</button></li>
                    <li><button id="logoutButton" onclick="logoutUser()">Logout</button></li>
                    {{else}}
                    <li><button id="saveUserButton" onclick="saveUserInfo()">Save</button></li>
                    <li><button id="cancelButton" onclick="gotoEmployees()">Cancel</button></li>
                    {{/if}}
                </ul>
            </nav>

            <article>
                <table>
                    <tr>
                        <td>
                            Username
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            {{#if isView}}
                                {{email}}
                            {{else}}
                                <input type="email" name="username" id="UserName" size="100" value={{email}}>
                            {{/if}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            First name                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            Last name
                        </td>
                    </tr>
                    <tr>
                        <td>                        
                            <input type="text" name="Fname" id="FName" size="30" value={{firstName}}> 
                            &nbsp;
                            <input type="text" name="Lname" id="LName" size="30" value={{lastName}}>
                        </td>
                    </tr>
                    {{#if isView}}
                    <tr/>
                    {{else}}
                    <tr>
                        <td>
                            Password
                        </td>
                    </tr>
                    <tr>
                        <td>
			{{#if isView}}
                            **********
			{{else}}
			 <input type="password" name="password" id="pword" size="20">
			{{/if}}
                        </td>
                    </tr>
                    {{/if}}
                    <tr>
                        <td>
                            Signature
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{#if isView}}
                                {{signature}}
                            {{else}}
                                <input type="file" name="sigFile" id="SigPath" size="100" value={{signature}}><br>
                            {{/if}}
                        </td>
                    </tr>

                </table>
                {{#if err}}
                    <h4>{{err}}</h4>
                {{/if}}
            </article>
        </section>
    </div>
</div>
	